* {
	color: #555;
	font-family: Helvetica;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #fffcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fffcfc 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcfc), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fffcfc 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fffcfc 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fffcfc 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fffcfc 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

#wrapper {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	height: inherit;
	width: inherit;
	padding: 80px;
}

#content {
	height: inherit;
	width: inherit;
}
 
#title {
	text-align: center;
}

#subtitle {
	font-size: 120%;
}
#footer {

}